@page
@model RazorAllinRent.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details article";
}

<style>
    .detail-label {
        font-size: 14px;
        font-weight: 600;
        color: #09012b;
    }

    .item-status {
        padding: 6px 8px;
        border-radius: 5px;
        font-size: bold;
    }

</style>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Détails article</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Article</li>
                <li class="breadcrumb-item active">Détails</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Détails de l' article</h5>
                        <!-- Horizontal Form -->
                        <div class="container">
                            <div class="d-flex justify-content-evenly align-start">
                                <div class="col-5">
                                    <img class="w-50 p-50" src="~/shared-images/@(string.IsNullOrEmpty(Model.Item.ImageFile) ? "image-not-found.jpg" : Model.Item.ImageFile)" />
                                </div>
                                <div class="col-5">
                                    <h2>@Html.DisplayFor(model => model.Item.Name)</h2>
                                    <div>
                                        <div class="d-flex justify-content-between pt-2 pb-2">
                                            <span class="detail-label">@Html.DisplayNameFor(model => model.Item.ItemType)</span>
                                            <span>@Model.Item.ItemType.Label</span>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2 pb-2">
                                            <span class="detail-label">@Html.DisplayNameFor(model => model.Item.Description)</span>
                                            <span>@Html.DisplayFor(model => model.Item.Description)</span>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2 pb-2">
                                            <span class="detail-label">@Html.DisplayNameFor(model => model.Item.RentalFee)</span>
                                            <span>@Html.DisplayFor(model => model.Item.RentalFee) Ar</span>
                                        </div>
                                        <div class="d-flex justify-content-between pt-2 pb-2">
                                            <span class="detail-label">Statut</span>
                                            <span class="item-status text-white @(Model.Item.IsActive ? "bg-success" : "bg-secondary")">@(Model.Item.IsActive ? "Activé" : "Désactivé")</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mt-4">
                                        <a class="btn btn-primary" asp-page="./Edit" >Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
